# top-most EditorConfig file
root = true

# all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# frontend files
[*.{js,ts,jsx,tsx,html,css,scss,sass,styl}]
indent_style = space
indent_size = 2

# go files
[*.go]
indent_style = tab
indent_size = 4