<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相册</title>
    <link rel="stylesheet" href="../static/css/blog.css">
</head>
<body>
{{template "block/nav.html" .}}

<div id="main">
    <form method="post">
        <input type="file" id="album-upload-file" name="upload">
        <input type="button" id="album-upload-button" value="提交文件">
    </form>
    <div id="album-box">
        {{range .Album}}
        <div class="album-item" style="background: url('{{.Filepath}}');"></div>
        {{end}}
    </div>
</div>

<script src="../static/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="../static/lib/jquery/jquery.url.js"></script>
<script src="../static/lib/layer/layer.js"></script>
<script src="../static/js/blog.js"></script>
</body>
</html>