@import "lib/login.css";
@import "lib/scroll.css";

#main {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*overflow: auto;*/
    flex: 1;
    overflow: auto;
    position: relative;
    z-index: 20;
    font-size: 18px;
}

#main form {
    /*background-color: #8bc34a;*/
    padding: 20px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
}

#main input, #main textarea {
    text-align: left;
}

#main.home-main {
    /*margin-top: 83px;*/
    padding: 20px;
}

.error {
    color: red;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #969896;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

.html-container {
    flex: 1;
    display: flex;
    position: relative;
    z-index: 5;
}

.global-color {
    color: #72BCB5;
}

/*导航-------------------------------------------------------------------------------------------------------*/
#nav {
    display: flex;
    justify-content: space-between;
    /*background-color: #72BCB5;*/
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 30;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 30;*/
}

#nav li {
    display: inline-block;
    margin: 10px 2px;
}

#nav ul {
    padding: 0;
    margin: 0;
}

#nav a {
    padding: 10px;
    font-size: 20px;
    color: #ffffff80;
    transition: all 200ms;
}

#nav a:hover {
    color: #ffffff;
}

#nav-write-article {
    margin-left: 20px;
}

#nav-login {
    margin-right: 20px;
}


/*首页 block-------------------------------------------------------------------------------------------------------*/
.home-block-item {
    margin: 10px 30px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: all 200ms;
}

.home-block-item:hover {
    background: rgba(255, 255, 255, 0.5);
}

.home-block-item > h2 {
    margin-top: 0;
    margin-bottom: 5px;
    overflow: hidden;
}

.home-block-item > p {
    margin: 5px 0;
}

.home-block-item > p > a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-block-item-update {
    text-align: right;
}

.home-block-item-update > a {
    background-color: #72BCB5;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
}

/*首页 footer-------------------------------------------------------------------------------------------------------*/
#home-footer {
    text-align: center;
    margin: 20px 0;
}

#home-footer > a {
    margin: 0 20px;
}

.disable {
    color: #888;
}

/*写入文章-------------------------------------------------------------------------------------------------------*/
#write-art-form {
}

#write-art-form > input, #write-art-form > textarea {
    width: 100%;
    padding: 10px;
}

#write-art-form > textarea {
    display: inline-block;
    line-height: 1.2;
}

#content {
    height: 350px;
}

#write-art-form > div {
    margin: 10px 0;
}

/*标签列表------------------------------------------------------------------------------------------------------*/

#tags-list > div {
    margin: 10px 0;
}

#tags-list a {
    font-size: 20px;
}

/*相册------------------------------------------------------------------------------------------------------*/

#album-box {
    margin: 0 auto;
    width: 844px;
    height: 1000px;
    font-size: 0;
}

.album-item {
    border: 1px solid #72BCB5;
    display: inline-block;
    width: 400px;
    height: 450px;
    margin: 10px 10px;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

/*关于我--------------*/
#about-me {
    margin: 60px auto;
    width: 900px;
    height: 640px;
    font-size: 0;
    /*position: relative;*/
}


#myt {
    display: inline-block;
    position: absolute;
    left: 800px;
    top: 360px;
}

.myp {
    color: #333333;
    font-size: 30px;

}

/*Markdown-----------------*/
#main pre {
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#main code::before,
#main code::after {
    content: "`";
    color: #ce03b5;
}

#main pre code::before,
#main pre code::after {
    content: "";
}